<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUITask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUITask.Properties.Settings>
            <setting name="timeStartInput" serializeAs="String">
                <value />
            </setting>
            <setting name="timeEndInput" serializeAs="String">
                <value />
            </setting>
            <setting name="timeInput" serializeAs="String">
                <value />
            </setting>
            <setting name="aInput" serializeAs="String">
                <value />
            </setting>
            <setting name="bInput" serializeAs="String">
                <value />
            </setting>
            <setting name="currentTab" serializeAs="String">
                <value>0</value>
            </setting>
        </GUITask.Properties.Settings>
    </userSettings>
</configuration>